<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="#home">Home</a>
        <a href="#projects">Projects</a>
        <a href="#certificates">Certificates</a>
        <a href="#Experience">Experience</a>
        <a href="#Skills">Skills</a>
        <a href="#resume">Resume</a>
        <a href="#contact">Contact</a>
        
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; Craig Nigel De Leon </p>
    </footer>

</body>
</html>